observability/n8n/workflows/kyc-review-reminder.json
{
  "name": "KYC Re-verification Reminder",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "id": "kyc-rem-schedule",
      "name": "Daily Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{$env.API_BASE_URL}}/api/v1/admin/kyc/queue?status=approved",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$env.INTERNAL_API_KEY}}"
            }
          ]
        },
        "options": {}
      },
      "id": "kyc-rem-fetch",
      "name": "Fetch Profiles Due for Review",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const profiles = $input.first().json;\nconst now = new Date();\nconst thirtyDaysBefore = new Date(now.getTime() + 30 * 24 * 60 * 60 * 1000);\n\nconst due = profiles.filter(p => {\n  if (!p.next_review_at) return false;\n  const d = new Date(p.next_review_at);\n  return d <= thirtyDaysBefore;\n});\n\nreturn due.map(p => ({ json: p }));"
      },
      "id": "kyc-rem-filter",
      "name": "Filter Due in 30 Days",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "toEmail": "={{$env.COMPLIANCE_EMAIL}}",
        "subject": "=[KYC] Re-verification reminder: {{$json.id}} (User {{$json.user_id}})",
        "emailType": "text",
        "message": "=KYC profile {{$json.id}} for User {{$json.user_id}} is due for re-verification before {{$json.next_review_at}}.\n\nCurrent status: {{$json.status}}\nCurrent tier: {{$json.tier}}\n\nAdmin panel: {{$env.ADMIN_BASE_URL}}/admin/kyc/profiles/{{$json.id}}"
      },
      "id": "kyc-rem-email",
      "name": "Send Reminder",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        850,
        300
      ]
    }
  ],
  "connections": {
    "Daily Schedule": {
      "main": [
        [
          {
            "node": "Fetch Profiles Due for Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Profiles Due for Review": {
      "main": [
        [
          {
            "node": "Filter Due in 30 Days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Due in 30 Days": {
      "main": [
        [
          {
            "node": "Send Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    "kyc",
    "compliance",
    "scheduler"
  ],
  "meta": {
    "n8n_version": "1.49.0"
  }
}
