observability/n8n/workflows/kyc-winner-freeze-alert.json
{
  "name": "KYC Winner Freeze — Compliance Alert",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "kyc-winner-freeze",
        "responseMode": "onReceived",
        "responseCode": 200
      },
      "id": "kyc-wf-webhook",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "kyc-winner-freeze"
    },
    {
      "parameters": {
        "jsCode": "const p = $input.first().json;\nconst amountGTQ = (p.amount_cents / 100).toFixed(2);\nreturn [{\n  json: {\n    subject: `[COMPLIANCE] Prize frozen pending KYC — Q${amountGTQ} GTQ (User ${p.user_id})`,\n    body: `A prize credit has been frozen because the winner has not completed KYC verification.\\n\\nUser ID: ${p.user_id}\\nPrize amount: Q${amountGTQ} GTQ\\nTrace ID: ${p.trace_id}\\n\\nThe user has been notified to submit their identity documents.\\nFunds will be released automatically once the compliance team approves the KYC submission.\\n\\nAdmin panel: ${process.env.ADMIN_BASE_URL}/admin/kyc/frozen-balances`\n  }\n}];"
      },
      "id": "kyc-wf-format",
      "name": "Format Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "toEmail": "={{$env.COMPLIANCE_EMAIL}}",
        "subject": "={{$json.subject}}",
        "emailType": "text",
        "message": "={{$json.body}}"
      },
      "id": "kyc-wf-email",
      "name": "Send Compliance Alert",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Format Alert", "type": "main", "index": 0 }]]
    },
    "Format Alert": {
      "main": [[{ "node": "Send Compliance Alert", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "tags": ["kyc", "compliance", "prize"]
}
